.head-part h1{
     color: rgb(20, 20, 19);
     font-weight: 700;
 }
 .head-part h3{
     color: red;
     font-weight: 500;
 }
 .head-part h1{
    margin-top:20px;
    font-weight: 500;
}
 .head-part p{
     color: grey;
 }
 .individual-service{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-bottom: 40px;
}